/* 改变主题色变量 */
$--color-primary: #22AC35;
$--color-success: #22AC35;
$--color-warning: #FBBC00;
$--color-danger: #E96469;
$--color-info: #9CA9CB;
$--color-text-primary: #2D3446;
$--color-text-secondary: #9CA9CB;
$--color-text-placeholder: #CBD5EE;
$--border-color-base: #CBD5EE;
$--border-color-light: #CBD5EE;
$--border-color-lighter: #E1E8F9;
$--border-color-extra-light: #E1E8F9;
$--background-color-base: #F3F6FE;
$--border-radius-base: 8px;
$--border-radius-small: 4px;
$--color-text-regular: #2D3446;
$--backtop-hover-background-color: #F3F6FE;
$--badge-background-color: #E96469;
$--button-default-font-color: #2D3446;
$--button-default-background-color: #F3F6FE;
$--button-disabled-font-color: #9CA9CB;
$--button-disabled-background-color: #F7F9FE;
$--card-border-color: #F3F6FE;
$--cascader-menu-font-color: #2D3446;
$--checkbox-font-color: #2D3446;
$--collapse-border-color: #CBD5EE;
$--datepicker-header-font-color: #2D3446;
$--datepicker-inrange-background-color: #F3F6FE;
$--datepicker-inrange-hover-background-color: #F3F6FE;
$--input-font-color: #2D3446;
$--link-default-font-color: #2D3446;
$--link-disabled-font-color: #9CA9CB;
$--messagebox-content-color: #2D3446;
$--notification-border-color: #CBD5EE;
$--notification-content-color: #2D3446;
$--notification-close-hover-color: #677392;
$--popover-border-color: #CBD5EE;
$--radio-font-color: #2D3446;
$--table-font-color: #2D3446;
$--table-header-font-color: #9CA9CB;
$--table-border-color: #ECEFF7;
$--table-row-hover-background-color: #F3F6FE;
$--tree-font-color: #2D3446;
$--button-info-border-color: #9CA9CB;
$--button-info-background-color: #9CA9CB;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";