@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

:root {
  --global-color-table-default: #2d3446; // $globalError
  --global-color-primary: #409EFF; // $global
  --global-color-warning: #fbbc00; // $global
  --global-color-Info: #9ca9cb; // $global
  --global-color-success: #22ac35; // $global
  --global-color-error: #e96469; // $globalError
  --global-error: #e96469; // $globalError
  --global-error-bg: #f7f9fe; // $globalError

  --global-color-blue: #409EFF; // 默认色
  --global-color-default: #f3f6fe; // 默认色
  --global-color-orange: #ff6600; // 提醒色
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.detail-app-container {
  margin: 20px 10px;
  padding: 20px 10px;
  border-radius: 5px;
  background: #fff;
  min-height: calc(100vh - 50px);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 字体大小 */
@for $i from 1 through 10 {
  .fs-#{10 + $i*2} {
    font-size: (10 + $i * 2) + px !important;
  }
}

/* margin-top */

@for $i from 1 through 10 {
  .mt-#{$i*5} {
    margin-top: $i * 5 + px !important;
  }
}

/* margin-bottom */

@for $i from 1 through 10 {
  .mb-#{$i*5} {
    margin-bottom: $i * 5 + px !important;
  }
}

/* margin-left */

@for $i from 1 through 10 {
  .ml-#{$i*5} {
    margin-left: $i * 5 + px !important;
  }
}

/* margin-right */

@for $i from 1 through 10 {
  .mr-#{$i*5} {
    margin-right: $i * 5 + px !important;
  }
}

// color
.bg-white {
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* 单行省略 */
.global-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.global-scrollbar {
  overflow-y: scroll;
  @include scroll-bar(5px);
}

/**
 * @description: tree组件- 权限包 最后的子节点主要平铺
 * @param {*}
 * @return {*}
 */
.el-tree-node>.el-tree-node__children.global-tiledNext {
  .el-tree-node {
    float: left;
    width: 33.3%;
  }
}

/**
 * @description: 跳转a标签颜色
 * @param {*}
 * @return {*}
 */
.global-a {
  cursor: pointer;
  color: var(--global-color-primary);

  &:hover {
    text-decoration: underline;
    color: var(--global-color-primary);
  }
}

/**
 * @description: 顶部form的class名，以后有用
 * @param {*}
 * @return {*}
 */
.global-search {}

/**
 * @description: 顶部buttom的class名，以后有用
 * @param {*}
 * @return {*}
 */
.global-button-group {
  margin-bottom: 10px;

  &:empty {
    margin: 0
  }
}

.global-module {}

.el-table+.el-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.global-flex-end {
  display: flex;
  justify-content: flex-end;
}

.el-table__row {
  .is-center .cell {
    text-align: left !important;
  }
}

.el-cascader__tags {
  max-height: 90px !important;
  overflow-y: auto !important;
}

p {
  margin: 0;
}

/**
 * @description: 空数据组建样式
 * @param {*}
 * @return {*}
 */
.empty-wrap {
  background: #fff;
  text-align: center;
  min-height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: rgba(151, 168, 190, 1);
  line-height: 22px;

  img {
    width: 142px;
    height: 98px;
    margin-bottom: 24px;
  }
}