$menuText: #2d3446;
$menuActiveText: #22ac35;
$subMenuActiveText: #22ac35;
$mainBg: #f3f6fe;
$menuBg: #f3f6fe;
$menuHover: #f3f6fe;
$subMenuBg: #f3f6fe;
$subMenuHover: #f3f6fe;
$error: #e84e54;
$sideBarWidth: 232px;
$color-blue: #4278ff;
$color-green: #22ac35;
$color-lightgreen: #f2faf3;
$color-green3: #c7eacc;
$color-green5: #42b853;
$color-green7: #199b28;
$color-yellow: #fbbc00;
$color-red: #e84e54;
$color-red5: #e96469;
$color-grey: #cbd5ee;
$color-deepgray: #2d3446;
$color-grey3: #f3f6fe;
$color-grey4: #e1e8f9;
$color-grey6: #9ca9cb;
$color-grey7: #677392;
$color-white: #ffffff;
$color-lightgray: #ccd0d5;
$color-font-grey: #99aac1;
$color-hover-bg: #f3f6fe;
$menu-select-bg: #f3f6fe;
$menu-noselect-font: #99aac1;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  color-blue: $color-blue;
  color-green: $color-green;
  color-lightgreen: $color-lightgreen;
  color-green3: $color-green3;
  color-green5: $color-green5;
  color-green7: $color-green7;
  color-yellow: $color-yellow;
  color-red: $color-red;
  color-red5: $color-red5;
  color-grey: $color-grey;
  color-deepgray: $color-deepgray;
  color-grey3: $color-grey3;
  color-grey4: $color-grey4;
  color-grey6: $color-grey6;
  color-grey7: $color-grey7;
  color-white: $color-white;
  color-lightgray: $color-lightgray;
  color-font-grey: $color-font-grey;
  color-hover-bg: $color-hover-bg;
  menu-select-bg: $menu-select-bg;
  menu-noselect-font: $menu-noselect-font;
  mainBg: $mainBg;
}
